.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
    padding: 16px;
}

[aria-controls="navbarDropdown"] {
    display: none;
}
.navbar .container {
    display: flex;
    align-items: center;
}

.navbar-brand {
    margin-right: auto;
    transition: ease-in-out 0.3s;
}

.navbar-brand img {
    height: 40px;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav li {
    margin-right: 20px;
}

.nav-link a {
    color: #6a7988;
    margin-right: auto;
    font-family: "Lato", sans-serif;
}

.head {
    background:
    linear-gradient(175deg, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%),
        linear-gradient(124deg, rgba(255, 255, 255, 0) 73%, rgba(238, 242, 246, 0.8) 30%, rgba(238, 242, 246, 0.5) 100%),
        linear-gradient(353deg, rgba(255, 255, 255, 1) 30%, rgba(242, 242, 242, 0.5) 30%, rgba(242, 242, 242, 1) 100%);
    padding: 150px;
}

.btn-primary i {
    padding-right: 8px;
}

.head-wrapper {
    width: 350px;
}

.head-wrapper h1 {
    font-size: 50px;
    font-weight: 600;
    color: black;
}

.learnMore {
    color: #3379ff;
    font-weight: 900;
    font-size: 16px;
    margin-left: 20px;
}

.key-benefits {
    padding: 100px 0;
}

.benefits-heading {
    text-align: center;
}

.benefits-heading p {
    font-size: 16px;
}

.benefits-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding-top: 50px;
}

.benefits-grid .card-wrapper {
    display: block;
}

.benefits-card {
    border-radius: 5px;
    box-shadow: 0px 10px 2px 10px #f6f6f6;
    padding: 25px;
    transition: all .3s;
}

.benefits-card:hover {
	margin-top: -10px;
    margin-bottom: 10px;
}

.benefits-card img {
    height: 50px;
    width: 50px;
}

.benefits-card .sketch {
    font-weight: 600;
    font-size: 12px;
    margin-left: 5px;
    background: #00c5a5;
    color: white;
    padding: 10px;
    padding: 1px 8px;
    border-radius: 20px;
}

.benefits-card .learn-more {
    margin-left: 0;
    font-size: 13px;
}

.software {
    margin-top: 50px;
    margin-bottom: 150px;
}

.software-wrapper {
    background-color: #f8f9fb;
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-right: 0;
}

.call-to-action {
    width: 400px;
    margin-left: 60px;
}

.call-to-action h3 {
    font-size: 33px;
    font-weight: 600;
    color: black;
    line-height: 40px;
}

.call-to-action a {
    font-weight: 600;
    font-size: 17px;
    padding: 10px 25px;
}

.software img {
    width: 800px;
}

.why-front h2,
p {
    text-align: center;
}

.why-front p {
    margin-bottom: 80px;
}

.timeline,
.labels {
    display: flex;
    justify-content: center;
}

.circle-element {
    text-align: center;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    background: #e9f2ff;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.center-circle {
    background: #568eff;
    width: 4px;
    height: 4px;
    border-radius: 2px;
}

.line-wrapper {
    display: flex;
    align-items: center;
    height: 50px;
    width: 125px;
}

.line {
    background: #e9f2ff;
    width: 200px;
    border: 1px solid #e9f2ff;
}

.why-front img {
    margin-top: 65px;
    margin-bottom: 100px;
}